* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dark-mode-highlight-font-color {
  color: var(--dark-mode-highlight-font-color);
}

.dark-mode-dull-font-color {
  color: var(--dark-mode-dull-font-color);
}

.light-mode-highlight-font-color {
  color: var(--light-mode-highlight-font-color);
}

.light-mode-dull-font-color {
  color: var(--light-mode-dull-font-color);
}

.light-mode-white-font-color {
  color: var(--light-mode-white-font-color);
}

.logo-image {
  max-width: 12rem;
  height: 10rem;
  transition: transform 0.6s ease-in-out;
}

.project-card-container p {
  text-align: center;
  line-height: 1.2rem;
  margin-top: 3rem;
}

.lock-close {
  max-width: 1rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.project-name {
  padding: var(--padding);
  font-size: 1rem;
  font-weight: 200;
  line-height: 2rem;
}

.project-card-container {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  margin: 0.2rem;
  margin-bottom: 0;
  padding: 3rem var(--padding) 0 var(--padding);
  position: relative;
  perspective: 1000px;
}

.project-card-container:hover {
  cursor: pointer;
}

.project-card-container:hover .hover-overlay {
  opacity: 1;
}

.project-card-container:hover .logo-image {
  transform: scale(1.3) rotate3D(1, 0, 1, -10deg);
}

.project-info-hover {
  opacity: 0;
  z-index: 100;
  position: absolute;
  bottom: -6rem;
  margin-bottom: 0;
  padding: 0.5rem var(--padding);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  transition: bottom 0.4s ease-in-out, opacity 0.5s ease-in-out;
}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
}

.project-info,
.project-info-hover {
  margin-top: 0;
}
.project-card-container:hover .project-info-hover {
  opacity: 1;
  bottom: 0rem;
}

.project-info {
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.project-card-container:hover .project-info {
  opacity: 0;
}

.project-card-container:hover .project-desc-hover {
  opacity: 1;
}

.project-card-main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.project-desc-hover {
  padding: 24px;
  text-align: center;
  font-size: 0.8rem;
  display: block;
}

.project-timeFrame {
  font-size: 0.8rem;
}

.project-timeFrame-hover {
  padding-bottom: 10px;
  border-bottom-width: 0.8px;
  border-bottom-style: solid;
  /* border-radius: 40px; */
}
.scroll-text {
  position: absolute;
  top: 0;
}

.scroll-text p {
  font-size: 5rem;
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  font-style: oblique;
}

.left-text {
  position: relative;
  left: -150%;
  transition: transform 0.7s ease-in-out;
}

.right-text {
  position: relative;
  right: -150%;
  transition: transform 0.7s ease-in-out;
}

.project-card-container:hover .left-text {
  transform: translate(150%);
}

.project-card-container:hover .right-text {
  transform: translate(-150%);
}

.line {
  color: transparent;
  text-align: center;
  height: 1.4px;
  margin-left: 0.5rem;
  width: 25%;
}

@media screen and (max-width: 900px) {
  .logo-image {
    max-width: max-content;
  }
}
