<mat-dialog-content class="mat-typography">
  <div class="header-section">
    <div
      class="about-block"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-1)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p
        [ngClass]="
    isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
  "
      >
        “I’m a creative problem-solver, passionate about crafting intuitive,
        high-performance user interfaces.
        <br /><br />

        Driven by a love for innovation, I strive to bring engaging and seamless
        digital experiences to life, blending functionality with design to
        ensure every project feels both purposeful and beautiful.
        <br /><br />
        I’m committed to transforming ideas into meaningful, user-centric
        solutions that have a lasting impact.
        <br /><br />
        Let’s create something extraordinary together! “
      </p>
    </div>
    <div class="profile-block">
      <img
        src="assets/ProfilePicModal.svg"
        alt="profile-pic"
        class="profile-pic"
      />
    </div>
    <div
      class="exp-address-block"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-2)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p>
        <span
          class="year"
          [ngClass]="
    isDarkTheme ? 'dark-mode-bright-font-color big-text' : 'light-mode-bright-font-color big-text'
  "
          >3.8</span
        >
        <span
          class="exp"
          [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
      "
          >yr exp</span
        >
      </p>
      <p class="contry-state-p">
        <span
          class="country"
          [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
      "
          >Kolkata</span
        ><br />
        <span
          class="state"
          [ngClass]="
    isDarkTheme ? 'dark-mode-bright-font-color big-text' : 'light-mode-bright-font-color big-text'
  "
          >INDIA</span
        >
      </p>
    </div>
  </div>
  <div class="hello-container">
    <img src="assets/hello.gif" alt="hello" class="hello" />
  </div>
  <div class="about-section">
    <div
      class="tech-stack"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-3)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p
        class="heading"
        [ngClass]="
      isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
    "
      >
        MY TECH STACK
      </p>
      <div class="tech-stack-logo">
        @for(tech of techStack; track tech){
        <img [src]="tech" alt="tech" class="skills-logo" />
        }
      </div>
    </div>
    <div
      class="contact-info"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-4)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p
        class="heading"
        [ngClass]="
      isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
    "
      >
        CONTACT
      </p>
      <div class="contacts">
        <div class="mail">
          <p
            [ngClass]="
          isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
          "
          >
            <img src="assets/mail-icon.svg" alt="mail" />
            sameemanasrin23&#64;gmail.com
          </p>
        </div>
        <!-- <div class="phone">
          <p
          [ngClass]="
          isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
          "
          >
          <img src="assets/phone-icon.svg" alt="phone" />
            +91-
          </p>
        </div> -->
      </div>
    </div>
    <div
      class="about-me-info"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-5, #2c3a3c)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p
        class="heading"
        [ngClass]="
      isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
    "
      >
        LITTLE ABOUT ME
      </p>
      <p
        class="little-about-me"
        [ngClass]="
      isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
    "
      >
        I’m a creative problem-solver, passionate about crafting intuitive,
        high-performance user interfaces.
        <br />
        Driven by a love for innovation, I strive to bring engaging and seamless
        digital experiences to life, blending functionality with design to
        ensure every project feels both purposeful and beautiful. I’m committed
        to transforming ideas into meaningful, user-centric solutions that have
        a lasting impact.
        <br />
        Let’s create something extraordinary together!
      </p>
    </div>

    <div
      class="experience-info"
      [ngStyle]="{'background-color': isDarkTheme ? 'var(--dark-mode-modal-bg-color-6)' : 'var(--light-mode-modal-bg-color)'}"
    >
      <p
        class="heading"
        [ngClass]="
      isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
    "
      >
        EXPERIENCE
      </p>

      <div class="experiences">
        @for(exp of experienceInfo; track exp){
        <p
          class="exp-pos"
          [ngClass]="
        isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
      "
        >
          {{exp.position | uppercase}}
        </p>
        <p
          class="company-name"
          [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color small-text' : 'light-mode-dull-font-color small-text'
      "
        >
          {{exp.company}}
        </p>
        <p
          class="exp-desc"
          [ngClass]="
        isDarkTheme ? 'dark-mode-bright-font-color' : 'light-mode-bright-font-color'
      "
        >
          {{exp.desc}}
        </p>
        }
      </div>
    </div>
  </div>
</mat-dialog-content>
