<div class="personal-info-section">
  <div class="profile-n-social-section">
    <img
      [src]="profileImageSrc"
      alt="profile-image"
      class="profile-image"
      [ngStyle]="{
        border: isDarkTheme
          ? '1px solid var(--dark-mode-border-color)'
          : '1px solid var(--light-mode-border-color)'
      }"
    />
    <div class="social-section">
      @for(logo of socialInfo; track logo){

        <a
          [href]="logo.socialLink"
          target="_blank"
          class="social-logo-div"
          [ngStyle]="{
            border: isDarkTheme ? '1px solid #282828' : '1px solid #E1E2E4'
          }"
        >
          <img
            [src]="isDarkTheme ? logo.imgSrcDarkTheme : logo.imgSrcLightTheme"
            alt="logo"
            class="socials-logo"
          />
        </a>
        }
    </div>
  </div>
  <div class="theme-section">
    <div
      class="other-theme"
      [ngClass]="isDarkTheme ? 'common-dark-theme' : 'common-light-theme'"
    >
      <div
        class="light-dark-theme"
        [ngClass]="
          isDarkTheme
            ? 'dark-mode-light-dark-theme'
            : 'light-mode-light-dark-theme'
        "
        (click)="toggleTheme()"
      >
        <div
          class="light-dark-theme-toggle"
          [ngClass]="isDarkTheme ? 'toggle-dark' : 'toggle-light'"
          [ngStyle]="{
            'background-image': isDarkTheme
              ? 'url(assets/NightButton.svg)'
              : 'url(assets/DayButton.svg)'
          }"
        ></div>
      </div>
      @for(otherTheme of otherThemeColor; track otherTheme){
      <div
        class="theme-color-box"
        [ngStyle]="{
          'background-color': otherTheme,
          border: isDarkTheme ? '1px solid #282828' : '1px solid #E1E2E4'
        }"
      ></div>
      }
    </div>
  </div>

  <div
    class="about-section"
    [ngClass]="isDarkTheme ? 'common-dark-theme' : 'common-light-theme'"
  >
    <h1
      [ngClass]="
        isDarkTheme
          ? 'dark-mode-highlight-font-color'
          : 'light-mode-highlight-font-color'
      "
    >
      Hi I’m Sameema
      <div
        class="line"
        [ngStyle]="{
          'background-color': isDarkTheme
            ? 'var(--dark-mode-highlight-font-color)'
            : 'var(--light-mode-highlight-font-color)'
        }"
      >
        -
      </div>
    </h1>
    <p
      [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color' : 'light-mode-dull-font-color'
      "
    >
      Frontend Developer
    </p>
    <app-link-logo (click)="openDialog('500ms', '250ms')" />
  </div>

  <div
    class="tech-stack-section"
    [ngClass]="isDarkTheme ? 'common-dark-theme' : 'common-light-theme'"
  >
    <h5
      [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color' : 'light-mode-dull-font-color'
      "
    >
      MY TECH STACK
    </h5>
    <div class="tech-stack-block">
      @for(tech of techStack; track tech){
      <div class="tech-stach-div">
        <img [src]="tech" alt="tech-stack" class="tech-stach" />
      </div>
      }
    </div>
  </div>

  <div class="copyright">
    <span
      [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color' : 'light-mode-dull-font-color'
      "
    >
      Made with
    </span>
    <img src="assets/heart.svg" alt="heart" />
    <span
      [ngClass]="
        isDarkTheme ? 'dark-mode-dull-font-color' : 'light-mode-dull-font-color'
      ">
      &#64;2024</span>
  </div>
</div>
